exportPattern("^[[:alpha:]]+")
import(plyr)
import(ggmap)
import(igraph)
import(yaml)
import(mapproj)
import(xtable)
import(graphics)
import(stats)
import(ggplot2)
import(xtable)
import(MASS)
import(knitr)
import(twitteR)